[submodule "arc-dwellings"]
	path = arc-dwellings
	url = https://github.com/nismod/arc-dwellings
[submodule "arc-economics"]
	path = arc-economics
	url = https://github.com/nismod/arc-economics
[submodule "arc-floor-area"]
	path = arc-floor-area
	url = https://github.com/nismod/arc-floor-area
